$colors: (
  stone: #545454,
  slate: #212121,
  charcoal: #0d0d0d,
  frost: #d8d8d8,
  snow: #f0f0f0,
  darkSnow: #e4e4e4,
  primary: #06708e,
  secondary: #3590a9,
  mainBackground: #63afc4,
  errorRed: #c22121,
  errorLightRed: #cd4b4b,
);

$textSizes: (
  xxSmall: 16px,
  xSmall: 24px,
  small: 32px,
  normal: 40px,
  large: 48px,
  xLarge: 56px,
  xxLarge: 64px,
  xxxLarge: 72px,
);

$marPad: (
  xxSmall: 4px,
  xSmall: 8px,
  small: 12px,
  normal: 16px,
  large: 20px,
  xLarge: 24px,
  xxLarge: 28px,
  xxxLarge: 32px,
);

$breakpoints: (
  phone: 0px,
  tablet: 600px,
  laptop: 1024px,
  desktop: 1440px,
);

$zIndex: (
  modal: 100,
  dropdown: 10,
  sticky: 1,
  default: 0,
  below: -1,
  hide: -100,
);

$boxShadow: (
  small: 0 0 4px,
  medium: 0 0 8px,
  large: 0 0 16px,
);

$animations: (
  slideIn: right 0.5s ease-in-out,
);

$fonts: (
  comicNeue: "Comic Neue"
);

$fontWeights: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  heavy: 900,
);